<div id="all">
  <header>
    <div class="page">
      <a routerLink="/"><img width="200" src="https://d109vitoc9faqq.cloudfront.net/www/wp-content/uploads/2017/04/24sessions-logo-landscape-correct-min.png" alt="" class="logo"></a>
    </div>
  </header>
  <main>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <div class="page">
      <a routerLink="/"><img width="200" src="https://d109vitoc9faqq.cloudfront.net/www/wp-content/uploads/2017/04/24sessions-logo-landscape-correct-min.png" alt="" class="logo"></a>
    </div>
  </footer>
</div>