* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    ::selection {
        background: #3e6cc7;
        background-color: #3e6cc7;
        color: #fff;
    }
}
html,body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    min-width: 320px;
    font-family: Arial, sanf-serif;
}
body {
    background: #fff;
    overflow-x: hidden;
    &.no_scroll {
        overflow-y: hidden;
    }
}
.page {
    width: 1216px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 16px;
}
ul, li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
input,
textarea,
button,
select {
    font-family: Arial, sanf-serif;
    font-size: 14px;
    appearance: none !important;
    border-radius: 0 !important;
}
a {
    transition: .3s;
}
#all {
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
header,
main,
footer {
    width: 100%;
    max-width: 100%;
}
main {
    margin: 0 0 auto 0;
    padding: 70px 0;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #3e6cc7;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    padding: 0 22px;
    min-width: 200px;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background: #497ce2;
    }
}

.title_page {
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 30px;
}


.buttons {
    margin: 20px 0;
    .btn {
        margin: 0 10px;
    }
}

video {
    width: 420px;
    height: 300px;
    background: #000;
}